@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400&display=swap');
/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url("images/flower-background.jpg"); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2, h3 {
    color: #c4d113;
    text-align: center;
}

h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

h3 {
    font-size: 2em;
    margin-top: 30px;
    margin-bottom: 15px;
}

.flower-container { 
    display: flex;
    flex-wrap: wrap;
    gap:15px;
    justify-content: center;
    max-width: 2000px;
    margin: 0 auto;
}

.flower-card {
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Form Styles */
form {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

form input[type="text"],
form input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

form button {
    background-color: #c4d113;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
    margin-top: 10px;
}

form button:hover {
    background-color: #667a0a;
}

/* List Styles */
ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

li {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    align-items: center;
    text-align: center;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 1.1em;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.button-group {
    display: flex;
    gap: 8px;
    margin-top: 5px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.standalone-button {
    background-color: #c4d113;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin: 10px 0;
}

.standalone-button:hover {
    background-color: #667a0a;
}

/* No Flowers Message */
li:last-child {
    text-align: center;
    color: #888;
    font-style: italic;
}
