<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <script src="{{ url_for('static', filename='Scripts/scripts.js') }}"></script>
</head>

<body>
    <audio id="introMusic" loop autoplay muted>
        <source src="{{url_for('static', filename='Audio/longnight.mp3') }}" type="audio/mpeg">
    </audio>

    <!--Container for the menu, form, and form inputs-->
    <div id="menuContainer">
        <h2>Water Run Management</h2>

        <form action="/add_flower" method="post">
            <label for="name">Flower:</label>
            <input type="text" name="name" placeholder="Flower Name">
            <br>
            <label for="environment">Enviornment:</label>
            <select name="environment">
                <option value="indoor">Indoor</option>
                <option value="outdoor">Outdoor</option>
            </select>
            <br>
            <label>Initial Water Level (inches):</label>
            <input type="number" name="initial_water_level_in_inches" placeholder="Initial Water Level in Inches">
            <br>
            <label>Minimum Water Level Required (inches):</label>
            <input type="number" name="minimum_water_level_in_inches" placeholder="Minimum Water Level Required (Inches)">

            <button type="submit">Add Flower</button>
        </form>

        <h3>Available Flowers</h3>
        <ul>
            {% if flowers %}
            {% for flower in flowers %}
            <li>
                {{ flower }}
            </li>
            {% endfor %}
            {% else %}
            <li>No flowers available.</li>
            {% endif %}
        </ul>

        <button id="muteButton">Mute</button>
    </div>
    
</body>

</html>
