<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Run</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <script src="{{ url_for('static', filename='Scripts/scripts.js') }}"></script>
</head>

<body>

    <!--Container for the menu, form, and form inputs-->
    <div id="menuContainer">
        <h2>Water Run Management</h2>

        <div id="buttonContainer">
            <a href="/flowers"><button>Add Flower</button></a>
            <a href ="/remove_flower"><button>Remove Flower</button></a>
            
            <!--Start of the clickable dropdown-->
            <div id="dropDownContainer">
                <button id="dropDownButton" onclick="dropDown()">Display</button>
                <div id="dropDownOptions">
                    <a href = "/all_flower" ><button>See All Flowers</button></a>
                    <a href = "needs_water"> <button>See All Flowers That Need Water</button></a>
                    <a href="/outdoor_flower"><button>See Outdoor Flowers</button></a>
                    <a href="/indoor_flower"><button>See Indoor Flowers</button></a>
                </div>
            </div>
            <a href = "/water_flower"><button>Water Flower</button></a>
            <a href="/simulate_rainfall"><button>Simulate Rain</button></a>
        </div>
        <!-- Query Buttons-->
        <div id = "queryButtonContainter">
            <a href="/slow_query"><button>Slow Query</button></a>
            <a href="/fast_query"><button>Fast Query</button></a>
        </div>

        <h3> Fast Query Results </h3>
        <h4> Query took {{ query_time }} seconds</h4>

        <h4>What's the Fast Query Do:</h4>
        <p>Fast Query Retrieves 1000 of the most recent orders by joining the Customer and Flower tables and presents them by descending order date.</p>
        <p>Fast Query: Indexed the following:</p>
        <ol>
            <li>Order table's: order_date</li>
            <li>Order table's: customer_id</li>
            <li>Order table's: flower_id</li>
            <li>Customer table's: customer_id</li>
            <li>Flower table's: flower_id</li>
        </ol>

        <table>
            <tr>
                <th>Order ID</th>
                <th>Customer Name</th>
                <th>Phone Number</th>
                <th>Flower Name</th>
                <th>Order Date</th>
            </tr>
            {% for row in flowers[:100] %} <!--Rending only 100 to PREVENT browser crashes-->
            <tr>
                <td>{{ flowers[0][0] }}</td>
                <td>{{ flowers[0][1] }}</td>
                <td>{{ flowers[0][2] }}</td>
                <td>{{ flowers[0][3] }}</td>
                <td>{{ flowers[0][4] }}</td>
            </tr>
            {% endfor %}
        </table>
        
    </body>

</html>