# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Environment variables file
.env

# Editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Log files
*.log

# Compiled binary addons
build/